In [8]:
import pandas as pd

In [9]:
#Carregar um arquivo do disco rigido para a memoria 
#Função: é uma sequência de comando 
#Recebe uma entrada:
#Devolve uma saida: (parametro de entrada -> um resultado)

In [10]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [11]:
#mostra na tela as primeiras 6 linhas

In [12]:
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7      1180.0              0
1      7242     2.0           0     0  ...      7      2170.0            400
2     10000     1.0           0     0  ...      6       770.0              0
3      5000     1.0           0     0  ...      7      1050.0            910
4      8080     1.0           0     0  ...      8      1680.0              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [13]:
#mostra na tela os tipos de variaveis definido por cada coluna

In [14]:
print(data.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above       float64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [15]:
#função converte de oject (string) -> data

In [16]:
data['date'] = pd.to_datetime(data['date'])

In [17]:
print(data.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7      1180.0              0
1      7242     2.0           0     0  ...      7      2170.0            400
2     10000     1.0           0     0  ...      6       770.0              0
3      5000     1.0           0     0  ...      7      1050.0            910
4      8080     1.0           0     0  ...      8      1680.0              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [18]:
#Com converter os tipos de variaveis 
#Inteiro -> float
#Float -> Inteiro
#Inteiro -> String
#String -> Inteiro
#String -> Data

In [19]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [20]:
#Inteiro -> float | Os tipos da coluna "bedrooms int64"

In [21]:
data['bedrooms'] = data['bedrooms'].astype(float)

In [22]:
print(data.head)

<bound method NDFrame.head of                id       date     price  bedrooms  bathrooms  sqft_living  \
0      7129300520 2014-10-13  221900.0       3.0       1.00         1180
1      6414100192 2014-12-09  538000.0       3.0       2.25         2570
2      5631500400 2015-02-25  180000.0       2.0       1.00          770
3      2487200875 2014-12-09  604000.0       4.0       3.00         1960
4      1954400510 2015-02-18  510000.0       3.0       2.00         1680
...           ...        ...       ...       ...        ...          ...
21608   263000018 2014-05-21  360000.0       3.0       2.50         1530
21609  6600060120 2015-02-23  400000.0       4.0       2.50         2310
21610  1523300141 2014-06-23  402101.0       2.0       0.75         1020
21611   291310100 2015-01-16  400000.0       3.0       2.50         1600
21612  1523300157 2014-10-15  325000.0       2.0       0.75         1020

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
0          5650     1.0           0     0  ...      7      1180.0
1          7242     2.0           0     0  ...      7      2170.0
2         10000     1.0           0     0  ...      6       770.0
3          5000     1.0           0     0  ...      7      1050.0
4          8080     1.0           0     0  ...      8      1680.0
...         ...     ...         ...   ...  ...    ...         ...
21608      1131     3.0           0     0  ...      8      1530.0
21609      5813     2.0           0     0  ...      8      2310.0
21610      1350     2.0           0     0  ...      7      1020.0
21611      2388     2.0           0     0  ...      8      1600.0
21612      1076     2.0           0     0  ...      7      1020.0

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0                  0      1955             0    98178  47.5112 -122.257
1                400      1951          1991    98125  47.7210 -122.319
2                  0      1933             0    98028  47.7379 -122.233
3                910      1965             0    98136  47.5208 -122.393
4                  0      1987             0    98074  47.6168 -122.045
...              ...       ...           ...      ...      ...      ...
21608              0      2009             0    98103  47.6993 -122.346
21609              0      2014             0    98146  47.5107 -122.362
21610              0      2009             0    98144  47.5944 -122.299
21611              0      2004             0    98027  47.5345 -122.069
21612              0      2008             0    98144  47.5941 -122.299

       sqft_living15  sqft_lot15
0               1340        5650
1               1690        7639
2               2720        8062
3               1360        5000
4               1800        7503
...              ...         ...
21608           1530        1509
21609           1830        7200
21610           1020        2007
21611           1410        1287
21612           1020        1357

[21613 rows x 21 columns]>

In [23]:
data.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                float64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [24]:
#Mostrar as três primeiras colunas incluindo as colunas: 'id' e 'bedrooms'

In [25]:
print(data[['id', 'bedrooms']].head(3))

           id  bedrooms
0  7129300520       3.0
1  6414100192       3.0
2  5631500400       2.0

In [26]:
##Float -> Inteiro

In [27]:
data['bedrooms'] = data['bedrooms'].astype( int )

In [28]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int32
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [29]:
data['bedrooms'] = data['bedrooms'].astype( 'int64' )

In [33]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [ ]:
#Inteiro -> String

In [34]:
data['bedrooms'] = data['bedrooms'].astype( 'str' )

In [36]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                 object
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [ ]:
#String -> Inteiro

In [37]:
data['bedrooms'] = data['bedrooms'].astype( 'int64' )

In [38]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

In [ ]:
#String -> Data

In [39]:
data['data'] = pd.to_datetime(data['date'])

In [40]:
print(data.dtypes)

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above              float64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
data             datetime64[ns]
dtype: object

In [41]:
# 4 Manipulando as variaveis
# - Criar ( colunas de variaveis e novas linha)
# - Deletar ( colunas de variaveis e novas linhas)
#  - Selecionar:
#  - 4 Formas de seleciona dados:
#         - Forma 01: Direto pelo nome da coluna
#         - Forma 02: Pelos índices das colunas
#         - Forma 03: Pelos indices das linhas e pelos nomes das colunas
#         - Forma 04: Pelos índices booleanos ( Tru e False)

In [ ]:
#Criando novas variaveis

In [ ]:
data = pd.read_csv('datasets/kc_house_data.csv') # Fazer leitura de arquivo em repositorio e carregar dentro da memoria para isso uso a função (read_csv)
#que por sua vez, eta função "(read_csv)" esta dentro da biblioteca pandas que apelidei de "pd" dai o "pd.(read_csv)"
# e essa função (read_csv) recebe um caminho ('datasets/kc_house_data.csv') que vou armazenar ele na variavel data.